{% extends "bootstrap/base.html" %}
{% block title %}{% block subtitle %}{% endblock %} - DemoApp{% endblock title%}

{%- block styles %}
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
{%- endblock styles %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='boot.ico') }}"
          type="image/x-icon">
    <link rel=icon" href="{{ url_for('static',filename='boot.ico') }}" type="image/x-icon">

    <meta charset="UTF-8">
{% endblock head %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle"
        data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" href="/">Demo</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/test">Test</a></li>
        <li><a href="/about">About</a></li>

        </ul>
    </div>
</div>
</div>
{% endblock %}
{% block content %}
<div class="container">
{% block page_content %}{% endblock %}
</div>
{% block bottom %}
<div class="bottom text-center"><p>This is the bottom</p></div>
{% endblock bottom %}
{% endblock content%}

{% block scripts %}
    <script src="{{ url_for('static', filename='bootstrap/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% endblock scripts %}
